{% extends 'performance/adminPanel.html' %}
{% load static %}


{% block body %}

<ul class="nav panelNav fw-medium">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a>
    </li>
    <li class="vr bg-primary my-2 mx-2"></li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'promotion' %}"> List</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'promotion_create' %}">Add</a>
    </li>
</ul>
<div class="table-responsive table-hover home-section px-lg-2">
    <table class="table table-bordered caption-top">
        <caption>List of Promotions</caption>
        <thead>
            <tr>
            <th></th>
            <th scope="col">Full name</th>
            <th scope="col">Date of promotion</th>
            <th scope="col">Bonus</th>
            <th scope="col">New Salary</th>
            <th scope="col">Past Position</th>
            <th scope="col">New Position</th>
            <th class="px-3">View</th>
            <th class="px-3" >Edit</th>

            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for promotion in promotions %}
            <tr>
                <td class="text-center"><img src="/media/avatar/user.png" style="width:35px; height:35px; border-radius: 100%;"></td>
                <td>{{promotion.employee.user.first_name}} {{promotions.employee.user.last_name}}</td>
                <td>{{promotion.date_of_promotion}}</td>
                <td>{{promotion.bonus}}</td>
                <td>{{promotion.new_salary}}</td>
                <td style="text-align:left;">{{promotion.past_position}}</td>
                <td style="text-align:left;">{{promotion.new_position}}</td>
                <td class="text-center"><a href="{% url 'promotion_detail' promotion.id %}"><i class="fas fa-eye" ></i></a></td>
                <td class="text-center"><a href="{% url 'promotion_update' promotion.id %}" ><i class="fas fa-edit"></i></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock body %}