<!-- performance/Createpromotion.html -->
{% extends 'performance/adminPanel.html' %}

{% load static %}
{% block body %}

<ul class="nav panelNav fw-medium">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'employee_dashboard' %}"><i class="fa fa-home"></i></a>
    </li>
    <li class="vr bg-primary my-2 mx-2"></li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'my_appraisal' %}">List Appraisal</a>

    </li>

</ul>
<section">
   {% csrf_token %}
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="card mb-4">
            <div class="card body">
              <div class="p-4">
                <h4 class="mbx-3">Your Appraisals</h4>
                <form method="post" class="form">
                    {% csrf_token %}
                    {% for question in appraisal.questions.all %}
                    
                    <div class="row my-3">
                        <div class="col-md-12 mx-3 mb-2">
                          {{question}}
                        </div>
                        <div class="d-flex col-md-12">
                          <div class="form-check mx-3">
                              <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="question_{{ question.id }}_yes" value="yes">
                              <label class="form-check-label" for="question_{{ question.id }}_no">Yes</label>
                          </div>
                          <div class="form-check mx-3">
                            <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="question_{{ question.id }}_no" value="no" >
                            <label class="form-check-label" for="question_{{ question.id }}_no">
                              No
                            </label>
                          </div>
                        </div>
                
                      {% endfor %}
                       {% for competency in appraisal.competencies.all %}
                        <div class="row my-3">
                        <div class="col-md-12 mx-3 mb-2">
                          {{competency}}
                        </div>
                        <div class="d-flex col-md-12">
                          {% for i in "x"|rjust:competency.weight %}
                          <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="competency_{{competency.id}}" id="competency_{{ forloop.counter }}_{{forloop.counter}}" value="{{forloop.counter}}" />
                              <label class="form-check-label" for="competency_{{ forloop.counter }}_{{ forloop.counter }}">{{forloop.counter}}</label>
                          </div>
                          {% endfor %}
                          </div>
                        </div>
                
                      {% endfor %}
                
                        <div class="w-1/2 mt-2">
                        <input type="submit" class="btn btn-primary" value="Submit" style="border-radius: .25rem;"/>
                        </div>
                    </div>
                    </div>
                    
                </form>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
 </form>
{% endblock body%}




