{% extends 'performance/adminPanel.html' %}
{% load static %}


{% block body %}

<ul class="nav panelNav fw-medium">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a>
    </li>
    <li class="vr bg-primary my-2 mx-2"></li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'termination' %}"> List</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'termination_create' %}">Add</a>
    </li>
</ul>

<div class="table-responsive table-hover home-section px-lg-5">
    <table class="table table-bordered caption-top">
        <caption>List of Terminations</caption>
        <thead>
            <tr>
            <th class="text-center" scope="col"></th>
            <th class="text-center" scope="col">Employee</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col">View</th>
            <th class="text-center" scope="col">Edit</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for employee in terminated %}
            <tr>
                <td class="text-center"><img src="/media/avatar/user.png" style="width:35px; height:35px; border-radius: 100%;"></td>
                <td class="align-middle text-center">{{employee.employee.user.first_name}} {{employee.employee.user.last_name}}</td>
                <td class="align-middle text-center">{{employee.date_of_termination}}</td>
                <td class="text-center"><a href="{% url 'employee_detail' employee.employee.id %}"><i class="fas fa-eye" ></i></a></td>
                <td class="text-center"><a href="{% url 'termination_update' employee.id %}" ><i class="fas fa-edit"></i></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock body %}