{% extends 'performance/adminPanel.html' %}
{% load static %}


{% block body %}

<ul class="nav panelNav fw-medium">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a>
    </li>
    <li class="vr bg-primary my-2 mx-2"></li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'competency' %}"> List</a>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'competency_create' %}">Add</a>
    </li>
</ul>

<div class="table-responsive  table-hover home-section px-lg-5">
    <table class="table table-bordered caption-top">
        <caption>List of Terminations</caption>
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Competency Name</th>
            <th scope="col">Department</th>
            <th scope="col">Designation</th>
            <th scope="col">Weight</th>
            <th scope="col">Initiation Date</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for competency in employee_competency %}
            <tr>
                <th scope="row" class="align-middle">{{forloop.counter}}</th>
                <td class="align-middle">{{competency.competency_name}}</td>
                <td class="align-middle">{{competency.department}}</td>
                <td class="align-middle">{{competency.designation}}</td>
                <td class="align-middle">{{competency.weight}}</td>
                <td class="align-middle">{{competency.initiated_date| date:"F j, Y" }}</td>
                <td class="text-center"><a href="{% url 'competency_detail' competency.id %}"><i class="fas fa-eye" ></i></a></td>
                <td class="text-center"><a href="{% url 'competency_update' competency.id %}" ><i class="fas fa-edit"></i></a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock body %}