{% extends 'performance/adminPanel.html' %}
{% load static %}


{% block body %}
<ul class="nav panelNav fw-medium">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a>
    </li>
    <li class="vr bg-primary my-2 mx-2"></li>
    <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fa fa-list"></i> Department Lists</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" onclick="addDept(event, 'add')"><i class="fa fa-plus-circle"></i> Add Department</a>
    </li>
</ul>

<div class="table-responsive table-hover home-section px-lg-5">
    <table class="table table-bordered caption-top">
        <caption>List of Departments</caption>
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Department Name</th>
            <th scope="col">Head of Department</th>
            <th class="px-3 text-center">View</th>
            <th class="px-3 text-center">Edit</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for department in departments%}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td> {{department.department_name}}</td>
                <td>{{department.department_head.first_name}} {{department.department_head.last_name}}</td>
                <td class="text-center"><a href="#"><i class="fas fa-eye" ></i></a></td>
                <td class="text-center"><a href="#" ><i class="fas fa-edit"></i></a></td>
            
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

<div id="add" class="list">
    
</div>
{% endblock body %}