{% extends 'performance/adminPanel.html' %}
{% load static %}

{% block body %}

<ul class="nav panelNav fw-medium">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}"><i class="fa fa-home"></i></a>
    </li>
    <li class="vr bg-primary my-2 mx-2"></li>
    <li class="nav-item">
        <a class="nav-link active" href="#"> List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Add</a>
    </li>
</ul>

<div class="table-responsive table-hover home-section p-lg-3">
    
    <table class="table table-bordered caption-top">
        <caption>List of Employess</caption> 
        <thead>
            <tr>
                <th></th>
                <th class="px-3" style="font-size: 14px;">Employee Id</th>
                <th class="px-3" style="font-size: 14px;">Employee Name</th>
                <th class="px-3" style="font-size: 14px;">Department</th>
                <th class="px-3" style="font-size: 14px;">Designation</th>
                <th class="px-3" style="font-size: 14px;">Manager</th>
                <th class="px-3" style="font-size: 14px;">Phone Number</th>
            
                <th class="px-3" style="font-size: 14px;">Status</th>
            </tr>
        </thead>
        <tbody class="table-caption-top">
            {% for employee in onboard_employees %}
            <tr>
                <td class="text-center"><img src="/media/avatar/user.png" style="width:35px; height:35px; border-radius: 100%;"></td>
                <td>{{ employee.user.user_id }}</td>
                <td>{{ employee.user.first_name }} {{employee.user.last_name}}</td>            
                <td>{{ employee.department }}</td>            
                <td style="width:15%; text-align:left;">{{ employee.designation }}</td>            
                <td>{{ employee.manager }}</td>
                <td>{{ employee.phone_number }}</td>
                <td class="text-center">{{ employee.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}
